.timer {
    display: flex;
    flex-direction: column;
    padding: 1.75em;
    margin: 0 auto;
}
.buttons {
    display: flex;
    align-items: center;
}
.btn-sm {
    margin: 0 1.5em;
}
.btn-lg {
    margin: 0 .5em;
}